<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }} {{ form.username() }}</p>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.confirm_password.label }} {{ form.confirm_password() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
